<p id="notice"><%= notice %></p>
<h1 style="color: #FFF;">Articles</h1>
<%= link_to 'New Article', new_article_path %>
<div class="wrapper">
  <div class="left">
    <div class="left-inner">
      <ul style="list-style: none;">
        <% @articles.each do |article| %>
          <li>
            <%= link_to article do %><i class="far fa-eye"></i><% end %>&nbsp;&nbsp;
            <%= link_to edit_article_path(article) do %><i class="far fa-edit"></i><% end %>&nbsp;&nbsp;
            <%= link_to article, method: :delete, data: {confirm: 'Are you sure?' } do %><i class="fas fa-bomb"></i><% end %>&nbsp;&nbsp;
            <strong><%= article.title %></strong></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="right">
    <div class="right-inner">
      <ul style="list-style: none;">
        <% @articles.each do |article| %>
          <li><%= article.content %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <br>

</div>


